body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #FFFFFD;
}

.container {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #FFFFFD;
	//position: absolute;
	display: block;
}


.titulo {
	width: 100%;
	height: 10%;
	display: inline-block;
	align-items: center;
	text-align: center;
}

.infoproduto {
	display: flex;
	background-color: #F3FFFF;
	width: 90%;
	height: 22%;
	//margin: 0;
	justify-content: center;
	align-items: center;
	//text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.infoprodutodiv {
	width: 100%;
	//background-color: yellow;
	height: 70%;
	margin-left: 2%;
	line-height: 135%;
}


.foto {
	width: 70%;
	height: 20%;
	//background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto-d {
	display: flex;
	align-items: center; 
	display: inline-flex; 
	margin-top: 0; 
	padding-top: 0
}

table {
	border-collapse: collapse;
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	/*padding: 4px 30px 4px 8px;*/
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

