table {
	border-collapse: collapse;
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	/*padding: 4px 30px 4px 8px;*/
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px	;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

tr{transition:all .25s ease-in-out}
tr:hover{background-color:#FFFF95;cursor: pointer}
tr:active{background-color: yellow;}

.selected{background-color: yellow;}

.popupdivergencias{
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 800px;
	height: 400px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	overflow: auto;
	z-index: 10;
}

.popupconf {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 450px;
	height: 160px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 0;
}


.popupconfdivergencia {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 450px;
	height: 160px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 0;
}

.popupconfdivcorte {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 450px;
	height: 160px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
}

/*------------------------------------------------------------------*/
/*---------Inserindo Fortamação para Consulta de Produtos-----------*/


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);


.nav_tabs{
	width: 600px;
	/*height: 400px;*/
	margin: 0px auto;
	background-color: #fff;
	position: relative;
	margin-left: -40px;
}

.nav_tabs ul{
	list-style: none;
}

.nav_tabs ul li{
	float: left;
}

.tab_label{
	display: block;
	width: 60px;
	background-color: #363b48;
	padding: 5px;
	font-size: 15px;
	color:#fff;
	cursor: pointer;
	text-align: center;
}


.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: #e54e43;
color:#fff;}

.tab-content{
border-top: solid 5px #e54e43;
	background-color: #fff;
	display: none;
	position: absolute;
	height: 200px;
	width: 59%;
	left: 40px;	
	overflow: auto;
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
.tab-content h2{
	/*padding: 10px;*/
	color: #87d3b7;
}
.tab-content article{
	/*padding: 10px;*/
	color: #555;
}


/*-------Fim Inserindo Fortamação para Consulta de Produtos---------*/
/*------------------------------------------------------------------*/


.ErroQtdMaior{
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 86%;
	height: 90%;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
	border-radius: 10px;
}

.fechar{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0;
	background-color: red;
	color: white;
	font-size: 20px;
	cursor: pointer;
}




