/*MENU*/
button:hover{
	cursor: pointer;
}

.containerMenu{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1{
	padding-top: 50px;
	text-align: center;
	color: #111; 
	font-family: 'Helvetica Neue', 
	sans-serif; 
	font-size: 50px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; 
}

.conteudoMenu{
	width: 80%;
	height: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}

.containerMenu button{
	width: 150px;
	height: 90px;
	padding: 2%;
	margin-bottom: 6%;
	border-radius: 25px;
	border: 1px solid black;
	margin-bottom: 6%;
	appearance: button;
	background-color: #1086bd;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: din-round,sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .8px;
	line-height: 20px;
	outline: none;
	overflow: visible;
	padding: 13px 16px;
 	text-align: center;
 	text-transform: uppercase;
 	touch-action: manipulation;
  	transform: translateZ(0);
  	transition: filter .2s;
  	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
		white-space: nowrap;
}

.containerMenu button:after {
	background-clip: padding-box;
	background-color: #1CB0F6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	bottom: -4px;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

/* COMPUTADOR */
@media (min-width: 700px){

	.conteudoMenu{
		flex-direction: row;
		/*justify-content: space-evenly;*/
		width: 40%;
		height: 30%;
	}


	.containerMenu button{
		width: 150px;
		height: 60px;
		padding: 2%;
		
	}
	.containerMenu button:hover{
		background-color: rgb(2, 47, 196); 

		transition: 60ms;
	}

	h1{
		padding-top: 20px;
	}
	
	.botao1{
		margin-right: 20px;
	}
}