@charset "utf-8";
/* CSS Document */

/*----------------------RESET--------------------*/


/*----------------------RESET--------------------*/


.menup{
    list-style:none;
    margin: 19px 0 0 300px; 
    
  border-top: 5px solid;
-webkit-border-radius-top: 4px;
-moz-border-radius-top: 4px;
border-radius-top: 4px 4px 0 0;
   border-right: 1px solid;
-webkit-border-radius-right: 4px;
-moz-border-radius-right: 4px;
border-radius: 4px 4px 0 0;
   border-left: 1px solid;
-webkit-border-radius-top: 4px;
-moz-border-radius-top: 4px;
border-radius-top: 4px;

width: 20%;
padding-left: 25px;
padding-right: 5px;
margin-left: 45%;
float: left;
background-color: #E8E8E8;
color: #696969;


}

.menup li{position:relative; float:left;


}

.menup li a{ color:#4682B4; text-decoration:none; padding:5px 8px; display:block;}

.menup li a:hover{background:#00466A; color:#FFF; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; text-shadow:0px 0px 5px #fff; }

.menup li ul{position:absolute; top:23px; left:-30px; background-color:#00466A; color: #FFF; display:none; text-align: left;}

.menup li:hover ul ul{display:none;}

.menup li ul li a {color:#FFF;}
.menup li:hover ul, .menup li ul li:hover ul, .menup li.over ul, .menup li ul li.over ul{display:block;}

.menup li ul li{border:1px solid #c0c0c0; display:block; width:110px;}

li.border0{border:0;}

.menup li ul li ul{z-index:900; top:0; left:110px; background:#eaeaea;}




