<div class="modal fade" id="mostraLocaisProduto" tabindex="-1" role="dialog" aria-labelledby="mostraLocaisProdutoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="p-3">
                <div style=" overflow-x: auto; width: 100%; border: 1px solid #ddd;">
                    <table width="100%" border="1px" id="table" class="tableEnderecos">
                        <thead>
                            <tr>
                                <th width="33%">Local</th>
                                <th width="33%">Estoque</th>
                                <th width="33%">Lote</th>
                            </tr>
                        </thead>
                        <tbody id="locaisProduto">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>