<div class="modal fade" id="mostraLocaisProduto" tabindex="-1" role="dialog" aria-labelledby="mostraLocaisProdutoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="p-3">
                <div style=" overflow-x: auto; width: 100%; border: 1px solid #ddd;">
                    <table width="100%" border="1px" id="table" class="tableEnderecos">
                        <thead>
                            <tr>
                                <th width="33%">Local</th>
                                <th width="33%">Estoque</th>
                                <th width="33%">Lote</th>
                            </tr>
                        </thead>
                        <tbody id="locaisProduto">
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 15px; font-size: 14px; color: #555;">
                    <div style="background-color: #f7f7f7; padding: 5px; border-radius: 4px">
                        <strong style="color: #007bff;">U - Último local movimentado</strong>
                    </div>
                    <div style="background-color: #f7f7f7; padding: 5px; border-radius: 4px;">
                        <strong style="color: #28a745;">I - Local inventariado</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>