body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

button {
	border-radius: 5px;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #FFFFFD;
	align-items: center;
}

.conteudo {
	width: 80%;
	height: 95%;
	//background-color: #E1F3FA;
	display: flex;
	justify-content: center;
	align-items: left;
	text-align: left;
	border-radius: 10%;
	flex-direction: column;
}

label {
	width: 100%;
	text-align: left;
}

input {
	margin-top: 2%;
}

.popupObservacao {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 86%;
	height: 90%;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
	border-radius: 10px;
	text-align: center;
}

.popupEscolherNota {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 60%;
	height: 30%;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	padding-top: 2%;
}

.popupCriaNotaTransf {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 60%;
	height: 30%;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	padding-top: 2%;
}


.fechar{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0;
	background-color: red;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.abrirObservacao {
	float: right;
	margin-top: 5%;
	margin-right: 5%;
/*	background-color: #C1E2E3;*/
	font-size: 15px;
}



table {
	border-collapse: collapse;
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	/*padding: 4px 30px 4px 8px;*/
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
	text-align: center;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

/*.container {
	width: 100%;
	height: 100%;
}

.conteudo {
	width: 50%;
	height: 50%;
	background-color: green;
	margin: 0 auto 0 auto;
}*/


#loader{
	position: fixed;
	z-index: 99999;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: 50% 50% no-repeat rgb(15 10 10/50%);
}
#loader img{
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}



.img-voltar{
	padding: 0 !important; 
	margin-bottom: 7%;
	text-align: left;
	position: fixed;
	top: 5%;
}
.img-voltar img{
	width: 35px;
	float: left;
	background-color: #2d4a57;
	border-radius: 100%;
}
.img-voltar a{
	border: none !important;
	margin-bottom: 20px !important;
	text-decoration: none !important;
	color: #363b48;
}
.img-voltar p{
	float: right;
	max-height: 5px;
	padding-top: 3.5%;
	color: white;
}




.btn-form{
	background-color: #3a6070 !important;
	border: none !important;
	box-shadow: 0px 5px 0px 0px #2d4a57, 0px 10px 5px #999;
	color: white;
	transition: all 0.2s !important;
	width: 100%;
}
.btn-form:hover{
	transform: scale(1.03) !important;
}



.btn-back{
	background-color: #3a6070 !important;
	border: none !important;
	box-shadow: 0px 5px 0px 0px #2d4a57, 0px 10px 5px #999;
	transition: all 0.2s !important;
}
.btn-back:hover{
	transform: scale(1.03) !important;
}




.form-control{
	align-items:start !important;
	height: 2.5rem !important;
	margin-bottom: 0.5rem !important;
}