body{
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #f7f7f8;
}
:root{
    --border-radius-pad: 15px;
    --padding-pad: 20px;
    --side-menu-width: 18%;
    --box-shadow-pad: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --icon-color: #65768c;
    --color-pad: #3a6070;
    --bs-border-width: 1px;
    --bs-border-color: #dee2e6;
}
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.timer-color{
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: #228B22;
}
.timer{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    font-size: 13px;
    /*box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px 1px rgba(9, 30, 66, 0.13);*/
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.tipoNota{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 150px;
    margin: 5px;
    border-radius: 8px;
    font-size: 13px;
    background-color: var(--color-pad);
    color: white;
}

.setaDown{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30px;
    text-align: center;
    margin: 5px;
    border-radius: 8px;
    font-size: 13px;
    background-color: var(--color-pad);
    color: white;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.formDiv{
    width: 70%;
    margin-top: var(--padding-pad);
    padding: var(--padding-pad);
    border-radius: var(--border-radius-pad);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.formProdutos{
    display: flex;
    flex-direction: column;
}
.header-body {
    width: 85%;
    background-color: white !important;
    border-radius: 9px;
    margin-top: 20px;
    display: flex;
    gap: 7%;
    flex-wrap: wrap;
    padding: var(--padding-pad);
    /*box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px 1px rgba(27, 31, 35, 0.15);*/
    /*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);*/
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
.div-playPause{
    padding: 0px 10px 0px 10px;
    cursor:pointer;
}
.div-playPause i{
    font-size: 17px;
    line-height: 2;
}
.loader{
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: 50% 50% no-repeat rgb(15 10 10/50%);
}
.loader img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infoNota{
    display: flex;
    flex-direction: column;
}
.form-label{
    width: 10rem !important;
    font-weight: bold !important;
    font-size: 15px;
}
.form-control{
    border-radius: 11px !important;
    font-size: 14px !important;
}
.setaDownDiv{
    transition: all 0.45s !important;
}
.tableProdutos{
}
#inserirProdutoBtn{
    background-color: var(--color-pad) !important;
    border-color: var(--color-pad) !important;
    border-radius: 11px !important;
}