body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-image: url('../img/fundo_topo.jpg');
background-repeat: no-repeat;
background-position: center top;
min-height: 100%;
height: 100%;
}
#tudo {

text-align: right;

position: relative;
}


#header {
position: relative;
height: 90px;
padding: 30px 20px 15px 20px;
background: transparent url('../img/top-highlight.png');
background-color: #900;
}


#content {
padding-top: 10px;
padding-bottom: 10px;
min-height:410px; 
height: auto;
width: 900px;
margin: auto;
padding-top: 10px;

}

#login {
background: url('../img/background.png') #FFF;
width: 530px;
height: 305px;
margin: 0 auto; 
margin-top: 80px;
padding-top: 10px;
border: 1px solid;


}

.fill {

background: #696969;


}

#pagination {

font-size: 18px;

}

#pagination  img{

width: 30px;
height: 20px;
margin-left: 8px;



}

#login table {
margin-top: 120px;


}
.rodape {
clear: both;
height: 55px;
padding: 15px;
position: relative;
background-color: #363636;
width: 1330px;
background-repeat: no-repeat;
background-position: center top;
bottom: 0;

}

.meio {
width: 900px;
text-align: left;
margin: auto;
clear: both;
}

.txt_branco_10 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: white;
}


.meio img {
    
    width: 100px;
    height: 30px;
}