table {
	border-collapse: collapse;
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	/*padding: 4px 30px 4px 8px;*/
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px	;
}
table tr:nth-child(odd) td {
}

tr{transition:all .25s ease-in-out}
tr:hover{background-color:#FFFF95;cursor: pointer !important}
tr:active{background-color: yellow !important;}

/**Cor quando selecionado**/
#minhaTabela tr.selecionado td{
  background-color: yellow;
}

.popupdivergencias{
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 800px;
	height: 400px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 999;
}

.popuppendencias{
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 800px;
	height: 400px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 999;
}
.bodyCss{
}


.popupconf {
	position: absolute;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 250px;
	height: 300px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 9999999;
	border-radius: 2%;
}


.popupconfdivergencia {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 450px;
	height: 160px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 9999;
}

.popupconfdivcorte {
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 450px;
	height: 160px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
}

/*------------------------------------------------------------------*/
/*---------Inserindo Fortamação para Consulta de Produtos-----------*/


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);


.nav_tabs{
	width: 600px;
	/*height: 400px;*/
	margin: 0px auto;
	background-color: #fff;
	position: relative;
	margin-left: -40px;
}

.nav_tabs ul{
	list-style: none;
}

.nav_tabs ul li{
	float: left;
}

.tab_label{
	display: block;
	width: 60px;
	background-color: #363b48;
	padding: 5px;
	font-size: 15px;
	color:#fff;
	cursor: pointer;
	text-align: center;
}


.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: #e54e43;
color:#fff;}

.tab-content{
border-top: solid 5px #e54e43;
	background-color: #fff;
	display: none;
	position: absolute;
	height: 200px;
	width: 59%;
	left: 40px;	
	overflow: auto;
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
.tab-content h2{
	/*padding: 10px;*/
	color: #87d3b7;
}
.tab-content article{
	/*padding: 10px;*/
	color: #555;
}


/*-------Fim Inserindo Fortamação para Consulta de Produtos---------*/
/*------------------------------------------------------------------*/


.ErroQtdMaior{
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 86%;
	height: 90%;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background: white;
	display: none;
	z-index: 10;
	border-radius: 10px;
}

.fechar{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0;
	background-color: red;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.btnPendencia {
	cursor: hand; cursor: pointer; 
	color: white;
  	background-color: #e54e43 !important;
  	border: solid #e54e43 1px !important;
}
.filtro{
	text-align: center;
	width:15%; 
	margin-top: 3%;
	margin-left: 2%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	padding: 15px;
	background-color: white;
	overflow: auto !important;
	float: left;
}
.listaconferenciatext{
	display: inline-block; 
	width: 80%; 
	float: right; 
	margin-left: 0; 
	overflow: auto; 
	margin-right: 1%; 
	margin-bottom: 0;
	padding-right: 17px;
	padding-left: 10px;
	padding-top: 10px;
	border-bottom: solid 1px white;
	
}
.listaconferenciatext p{
	background-color: #3a6070;
	padding: 10px;
	font-weight: 600 !important;
	font-size: 150% !important;
	text-decoration: underline;
	color: white;
	margin: 0 !important;
}
.listaconferencia{
	display: inline-block; 
	width: 80%; 
	float: right; 
	height: 85%; 
	margin-left: 0; 
	overflow: auto; 
	margin-right: 1%; 
	margin-bottom: 0;
	background-color: white !important;
	padding-right: 10px;
	padding-left: 10px;
	
}
.listaconferencia tr{
	cursor: hand; 
	cursor: pointer; 
	height: 50px;
	text-align: center;
}
.listaconferencia tr:hover{
	background-color: rgb(231, 228, 20) !important;
}
.listaconferencia tabel td{
	max-width: 0.1% !important;
}
.listaconferencia thead{
	background-color: #3a6070;
	text-align: center;
}

.listaconferencia p{
	font-size: 24px;
	background-color: #3a6070;
	color: white;
	font-weight: 550;
	margin: 0;
	width: 101%;
	text-decoration: underline;
	border-bottom: solid 1px white;
	padding: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
	width: 100% !important;
}
.background-lista{
	background-color: #eeeeee71;
	width: 100%; 
	height: 100%; 
	overflow: auto !important;
}
.img-voltar{
	padding: 0 !important; 
	margin-bottom: 20%;
	
}
.img-voltar img{
	width: 35px;
	float: left;
	background-color: #2d4a57;
	border-radius: 100%;
}
.img-voltar a{
	border: none !important;
	margin-bottom: 20px !important;
	text-decoration: none !important;
	color: #363b48;
}
.img-voltar p{
	float: right;
	max-height: 5px;
	padding-top: 3.5%;
	color: white;
}
.btn-back{
	background-color: #3a6070 !important;
	border: none !important;
	box-shadow: 0px 5px 0px 0px #2d4a57, 0px 10px 5px #999;
	transition: all 0.2s !important;
}
.btn-back:hover{
	transform: scale(1.03) !important;
}
.btn-form{
	background-color: #3a6070 !important;
	border: none !important;
	box-shadow: 0px 5px 0px 0px #2d4a57, 0px 10px 5px #999;
	color: white;
	transition: all 0.2s !important;
}
.btn-form:hover{
	transform: scale(1.03) !important;
}
.body-detalhes{
	overflow: auto;
}
.table-valores{
	background-color: #3a6070;
	color: white;
	text-align: center;
	margin: 0;
}
.tabel-valores thead{
	border: none !important;
}
.table-valores th{
	border-bottom: none !important;
	border-top: none !important;
	border-left: solid 1px white !important;
	border-right: solid 1px white;
	font-weight: 400 !important;
}
.table-infos{
	text-align: center !important;
	background-color: white !important;
}
.table-infos th{
	font-weight: 400 !important;
}
.img-voltar-detalhes{
	padding: 0 !important;
	margin-left: 1.7%; 	
	padding-top: 1.5% !important;
	margin-right: 9% !important;
	max-width: 4.4%;
	float: left;
}
.img-voltar-detalhes img{
	width: 35px;
	float: left;
	background-color: #2d4a57;
	border-radius: 100%;
}
.img-voltar-detalhes a{
	border: none !important;
	margin-bottom: 20px !important;
	text-decoration: none !important;
	color: #363b48;
}
.btn-detalhes{
	padding: 0 !important;
	margin-left: 1.5%; 	
	padding-top: 2.5% !important;
	margin-right: 2% !important;
	float: left;
}
.conferencia{
	width: 40%; 
	height:50%;  
	overflow: hidden; 
	margin-left: 1%;
	padding: 10px;
	float: left;
}
.btn-form-pendencia{
	background-color: #ee0909 !important;
	border: none !important;
	box-shadow: 0px 5px 0px 0px #970909, 0px 10px 5px #999;
	color: white;
	transition: all 0.2s !important;
}
.btn-form-pendencia:hover{
	transform: scale(1.03) !important;
}
.itensconferencia{
	width: 48%;
	height: 48%;
	margin-left: 1%;
	float: left;
	border: solid 1px rgb(197, 197, 197);
	padding: 10px;
	overflow: auto;
}
.itensconferencia tr{
	cursor: pointer; 
	height: 50px;
	text-align: center;
}
.itensconferencia thead{
	background-color: #3a6070;
	text-align: center;
}
.produtosconferencia{
	width: 1300;
	height: 50%;
}
.produtosconferencia table{
	margin-top: 2%;
}
.produtosconferencia th{
	width: 6.6%;
	font-weight: 400;
	border: 1px solid white;
}
.btnconferencia{
	margin-top: 2%;
}
.btn-admin{
	float: right !important;
	width: 200px !important;
	background-color: white !important;
	color: #2d4a57 !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition: all 0.2s !important;
}
.table-conferentes{
	
	width: 100%;
}
.popupconferentes{
	position: fixed;
	top: 0; bottom: 0; 
	left: 0; right:0;
	margin: auto;
	width: 400px;
	height: 400px;
	padding: 15px;
	background: white;
	display: none;
	z-index: 999;
	overflow: auto;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px ;
}
.popupconferentes h4{
	text-align: center;
}
#loader{
	position: fixed;
	z-index: 99999;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: 50% 50% no-repeat rgb(15 10 10/50%);
}
#loader img{
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%);;
}
