body{
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #f7f7f8;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page{
    display: flex;
    flex-direction: column;
}

.header-body {
    width: 85%;
    background-color: white !important;
    border-radius: 9px;
    margin-top: 5px;
    display: flex;
    gap: 7%;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.img-voltar{
	padding: 10px;
}

.img-voltar img{
	width: 35px;
	background-color: #2d4a57;
	border-radius: 100%;
}

#loader{
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: 50% 50% no-repeat rgb(15 10 10/50%);
}
#loader img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-label{
    width: 10rem !important;
    font-weight: bold !important;
    font-size: 15px;
}

.form-control{
    border-radius: 11px !important;
    font-size: 14px !important;
}

.transferirProdutoBtn{
    background-color: #3a6070 !important;
    border-color: #dee2e6 !important;
    border-radius: 11px !important;
}

.selectEmpresa{
    border: var(--bs-border-width) solid var(--bs-border-color);
    background-color: white;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
}
.selectEmpresa:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}