<div class="popupMenu" id="popAviso">
    <div class="overlay2"></div>
    <div class="content2">
        <div class="close-btn2" onclick="fecharPopUp()">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="div-form2">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <!--AO ADICIONAR NOVO AVISO ATUALIZE O CAMPO USUREDE NA TSIUSU DE TODOS USUARIOS PARA ZERO PARA RECOMEÇAR O CONTADOR-->
            <p class="aviso"><strong>Limpe o cache do aparelho!</strong>
            <br>- Nas telas onde o produto exibe uma imagem, você pode clicar sobre ela caso a peça esteja sem foto ou com foto incorreta. Um e-mail será enviado automaticamente ao setor de Compras solicitando a correção.
            </p>
        </div>
        <div>
            <button class="nao-mostrar" onclick="naoMostrarNovamente()">Não mostrar</button>
            <button class="ok" onclick="fecharPopUp()">Ok</button>
        </div>
    </div>
</div>