<div class="popupMenu" id="popAviso">
    <div class="overlay2"></div>
    <div class="content2">
        <div class="close-btn2" onclick="fecharPopUp()">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="div-form2">
            <i class="fa-solid fa-triangle-exclamation"></i>
             <!--AO ADICIONAR NOVO AVISO ATUALIZE O CAMPO USUREDE NA TSIUSU DE TODOS USUARIOS PARA ZERO PARA RECOMEÇAR O CONTADOR-->
            <p class="aviso">Novo sistema de avisos com as novidades do APP:
            <br>- O aviso aparece sempre que entrar no menu inicial. 
            <br>- O aviso some depois de visto algumas vezes. 
            <br>- Clique em "Não mostrar" para não ver mais o aviso.
            </p>
        </div>
        <div>
            <button class="nao-mostrar" onclick="naoMostrarNovamente()">Não mostrar</button>
            <button class="ok" onclick="fecharPopUp()">Ok</button>
        </div>
    </div>
</div>